html{
    top: 0%;
    left: 0%;
}

body{
    background: url(1.jpg) no-repeat center center fixed;
    background-size: cover;
}

#nawigacja{
    left: 0%;
    top: 0%;
    margin: auto;
    position: relative;
    background-image: linear-gradient(to left, #e43a15, #e65245);
    width: cover;
    height: cover;
    text-align: center;
}

#nawigacja button{
    text-align: center;
    width: 250px;
    margin: 2%;
    background: black;
    color: white;
    border: none;
    padding: 1%;
}

